<% var data = { title: "Главная | Александровская роща" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section no-padding-top no-padding-bottom section-main animate-block">
    <div class="section-main__bg" style="background-image: url(./img/common/hero-house.png)"></div>
    <div class="section-main__сloud section-main__сloud1" style="background-image: url(./img/common/cloud1.png)"></div>
    <div class="section-main__сloud section-main__сloud2" style="background-image: url(./img/common/cloud2.png)"></div>
    <div class="container">
        <div class="header-margin"></div>
        <div class="content">
            <h1 class="h1">
                Коттеджи комфорт-класса в Самаре — современная и экологичная жизнь вблизи дубовой рощи
            </h1>
            <p class="text color-gray body20">
                «Александровская роща» — новый загородный комфорт для жителей большого города
            </p>
            <a href="" class="button">Записаться на просмотр</a>
        </div>


    </div>
</section>


<section class="section section-video">
    <div class="container">
        <div class="section-video__wrap">
            <div class="section-video__left">
                <div class="thumb-wrap">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y421bWMelqE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="section-video__right">
                <h2 class="h2 section-title">
                    О посёлке
                </h2>
                <p class="body20 text">
                    Коттеджный посёлок «Александровская роща» находится в Волжском районе Самары. Добраться сюда из географического центра города можно всего за 30 минут. Рядом расположен посёлок городского типа Петра Дубрава и лес Дубовый Гай с живописными вековыми деревьями. В нескольких минутах - ТЦ «МЕГА» с его многочисленными магазинами и развлекательной инфраструктурой.
                </p>
                <a href="#" class="button">Выбрать дом</a>
            </div>
        </div>

    </div>
</section>

<section class="section section-bg section-about">
    <div class="container">
        <p class="section-subtitle body20 color-gray">Коттеджный посёлок</p>
        <h2 class="h2 section-title">
            «Александровская роща» - это
        </h2>

        <div class="section-about__list">
            <div class="item">
                <div class="icon">
                    <i class="icon-parking"></i>
                </div>
                <div class="content">
                    <p>
                        Автономная территория с двумя оборудованными въездами
                    </p>
                    <a href="#" class="link custom-link">Как добраться</a>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <i class="icon-parking"></i>
                </div>
                <div class="content">
                    <p>
                        В первой очереди строительства запланировано более 100 жилых домов с разными метражами и планировками;
                    </p>
                    <a href="#" class="link custom-link">Выбрать дом</a>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <i class="icon-parking"></i>
                </div>
                <div class="content">
                    <p>
                        Уже сформированная социальная инфраструктура: школы и детские сады на расстоянии 5 минут
                        ;
                    </p>
                    <a href="#" class="link custom-link">Инфраструктура</a>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <i class="icon-parking"></i>
                </div>
                <div class="content">
                    <p>
                        Все коммуникации подведены до вашего участка
                        ;
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <i class="icon-parking"></i>
                </div>
                <div class="content">
                    <p>
                        Размер участков в 1-ой строительной очереди - 10 соток;
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <i class="icon-parking"></i>
                </div>
                <div class="content">
                    <p>
                        Возможность выбрать оптимальную площадь дома, материал строительства, и архитектурный проект;
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <i class="icon-parking"></i>
                </div>
                <div class="content">
                    <p>
                        Собственная инфраструктура поселка: запланированы детская площадка для игр и спорта, благоустроенное пространство для отдыха, магазин и кафе, прогулочные маршруты и спортплощадки.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
