.house-modal {
    overflow: hidden;
    @include mobile {
        overflow: auto;
    }
    .modal-content {
        height: 100%;
        margin: 0 auto !important;
        padding: 85px 0 0;
        @include mobile {
            padding-top: 0;
            margin-top: 33px !important;
        }
        .close {
            position: sticky;
            top: 10px;
            padding-top: 5px;
            margin-left: auto;
            @include mobile {
                top: 33px;
            }
        }
        .house-modal__wrap {
            display: flex;
            margin-top: -40px;
            height: 100%;
            .house-modal__slider-wrap {
                position: relative;
                width: 100%;
                max-width: calc(100% - 636px);
                padding-right: 43px;
                @include desktop-small {
                    padding-right: 18px;
                }
                .gallery-modal__arrow {
                    background: rgba(37,53,57,1);
                    &.swiper-button-disabled {
                        opacity: 0.6;
                    }
                }
                .swiper-button-next {
                    right: 15px;
                    @include mobile {
                        right: 5px;
                    }
                }
                .swiper-button-prev {
                    left: 15px;
                    @include mobile {
                        left: 5px;
                    }
                }
                .house-modal__slider {
                    position: relative;
                    overflow: hidden;
                }
                .swiper-pagination {
                    display: flex;
                    justify-content: center;
                    padding: 11px 0;
                    .swiper-pagination-bullet {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: $colorGrayMiddle;
                        transition: 0.1s ease;
                        cursor: pointer;
                        z-index: 6;
                        &.swiper-pagination-bullet-active {
                            background: $colorMain;
                        }
                        @include desktop {
                            &:hover {
                                background: $colorMain;
                            }
                        }
                    }
                    .swiper-pagination-bullet + .swiper-pagination-bullet {
                        margin-left: 22px;
                    }
                }
                .swiper-slide {
                    display: flex;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    -webkit-background-size: cover;
                    background-size: cover;
                    &:before {
                        display: block;
                        content: '';
                        float: left;
                        padding-top: 67%;
                    }
                }
            }
            .house-modal__info {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 636px;
                min-width: 636px;
                padding-left: 37px;
                overflow-x: hidden !important;
                overflow-y: auto !important;
                padding-bottom: 50px;
                &::-webkit-scrollbar { width: 0; }
                & { -ms-overflow-style: none; }
                & { overflow: -moz-scrollbars-none; }
                @include desktop-small {
                    padding-left: 16px;
                }
                &:before {
                    position: absolute;
                    top: -85px;
                    left: 0;
                    bottom: 0;
                    display: block;
                    width: 1px;
                    height: calc(100% + 170px);
                    content: '';
                    background: #C8D0D2;
                    opacity: 0.5;
                }
                .title {
                    padding-right: 120px;
                    margin-bottom: 11px;
                }
                .title + p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                .house-modal__icons {
                    display: flex;
                    align-items: flex-start;
                    margin: 25px 0 17px;
                    .item {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        i {
                            font-size: 26px;
                            color: $colorMain;
                        }
                        p {
                            margin: 8px 0 0;
                        }
                    }
                    .item + .item {
                        margin-left: 84px;
                    }
                }
                .house-modal__list {
                    columns: 2;
                    li {
                        position: relative;
                        padding-left: 31px;
                        list-style: none;
                        font-size: 16px;
                        line-height: 25px;
                        letter-spacing: 0.02em;
                        color: $colorText;
                        margin: 0;
                        padding-bottom: 15px;
                        &:before {
                            position: absolute;
                            top: 7px;
                            left: 0;
                            display: block;
                            width: 10px;
                            height: 8px;
                            content: '';
                            background: url("../img/common/list-arrow.svg") no-repeat center center;
                            -webkit-background-size: contain;
                            background-size: contain;
                        }
                    }
                }
                .house-modal__price {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 25px 0;
                    &:before, &:after {
                        position: absolute;
                        left: -37px;
                        bottom: 0;
                        display: block;
                        height: 1px;
                        width: 200%;
                        content: '';
                        background: #C8D0D2;
                        opacity: 0.5;
                    }
                    &:before {
                        top: 0;
                    }
                    &:after {
                        bottom: 0;
                    }
                    .price {
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 46px;
                        letter-spacing: 0.01em;
                        color: $colorText;
                    }
                    @include only-mobile {
                        .button {
                            width: 100%;
                        }
                    }
                }
            }

            @include mobile {
                flex-wrap: wrap;
                .house-modal__slider-wrap {
                    width: 100%;
                    max-width: 100%;
                    padding-right: 0;
                    .title {
                        max-width: 80%;
                    }
                }
                .house-modal__info {
                    width: 100%;
                    max-width: 100%;
                    min-width: auto;
                    padding-left: 0;
                    padding-bottom: 30px;
                    &:before {
                        display: none;
                    }
                    .house-modal__icons {
                        display: flex;
                        align-items: flex-start;
                        margin: 25px 0 17px;
                        .item {
                            align-items: center;
                            width: 33.3333333333333%;
                        }
                        .item + .item {
                            margin-left: 0;
                        }
                    }
                    .house-modal__list {
                        columns: 1;
                    }
                    .house-modal__price {
                        justify-content: center;
                        .price {
                            width: 100%;
                            margin-bottom: 12px !important;
                            text-align: center;
                        }
                        &:before {
                            display: none;
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
