.section-title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.section-subtitle {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
