.section-bg {
    background: $colorGrayLight;
}
.custom-link {
    color: $colorMain;
    transition: 0.1s ease;
    @include desktop {
        &:hover {
            color: $colorMainActive !important;
            opacity: 1 !important;
        }
    }
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $colorWhite;
    z-index: 99999;
    transition: 0.2s ease;
    &.preloader-hide {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.section-title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.section-subtitle {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    &.max-width {
        max-width: 50%;
        @include mobile {
            max-width: 100%;
        }
    }
    &.center {
        margin: 0 auto;
    }
}
.section-title__double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
        width: 50%;
        max-width: 50%;
    }
}
