.section-video {
    .section-video__wrap {
        display: flex;
        align-items: center;
    }
    .section-video__left {
        width: 50%;
        min-width: 50%;
        .thumb-wrap {
            position: relative;
            padding-bottom: 63%;
            height: 0;
            overflow: hidden;
        }
        .thumb-wrap iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-width: 0;
            outline-width: 0;
        }
    }
    .section-video__right {
        width: 50%;
        min-width: 50%;
        padding-left: 96px;
        .text {
            margin: 27px 0 47px;
        }
    }
    @include desktop-small {
        .section-video__wrap {
            align-items: flex-start;
        }
        .section-video__right {
            padding-left: 24px;
            .text {
                margin: 27px 0 35px;
            }
        }
    }
    @include mobile {
        .section-video__wrap {
            flex-wrap: wrap;
        }
        .section-video__left {
            width: 100%;
            min-width: 100%;
        }
        .section-video__right {
            width: 100%;
            min-width: 100%;
            padding-left:0;
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .section-title {
                margin-bottom: 0;
            }
            .text {
                margin: 25px 0;
            }
        }
    }
}


.section-about {
    .section-about__list {
        display: flex;
        flex-wrap: wrap;
        margin: 70px -13px 0;
        .item {
            position: relative;
            width: calc(25% - 26px);
            margin: 0 13px 60px;
            background: $colorWhite;
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            padding: 36px 34px 25px;
            min-height: 213px;
            @include desktop-small {
                width: calc(33.33333333333333% - 26px);
            }
            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 100%;
                .link {
                    margin-top: auto;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: 0.02em;
                    text-decoration-line: underline;
                }
            }
            .icon {
                position: absolute;
                left: 34px;
                top: -27px;
                width: 60px;
                height: 60px;
                background: $colorMain;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 11px;
                i {
                    color: $colorWhite;
                    font-size: 38px;
                }
            }
        }

        @include mobile {
            .item {
                width: calc(50% - 26px);
            }
        }
        @include only-mobile {
            margin: 70px 0 0;
            .item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                min-height: auto;
                .content {
                    .link {
                        margin-top: 28px;
                    }
                }
            }
        }
    }
}

.section-territory {
    @include mobile {
        padding-bottom: 0;
    }
    .section-territory__list {
        display: flex;
        margin: 46px -16px 50px;
        .item {
            width: calc(25% - 32px);
            margin: 0 16px 28px;
            .img {
                display: flex;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: contain;
                background-size: contain;
                margin-bottom: 15px;
                &:before {
                    float: left;
                    display: block;
                    content: '';
                    padding-top: 52%;
                }
            }
        }

        @include desktop-small {
            margin: 46px -13px 50px;
            .item {
                width: calc(25% - 26px);
                margin: 0 13px 28px;
            }
        }

        @include mobile {
            flex-wrap: wrap;
            margin: 46px -13px 50px;
            .item {
                width: calc(50% - 26px);
                margin: 0 13px 28px;
            }
        }
        @include only-mobile {
            margin: 46px 0 25px;
            .item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.section-houses {
    .section-houses__list {
        display: flex;
        margin: 70px -16px 0;
        .item {
            width: calc(25% - 32px);
            margin: 0 16px 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $colorWhite;
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
            @include desktop {
                &:hover {
                    opacity: 1;
                    .button {
                        background: $colorMainActive;
                    }
                }
            }
            .img {
                display: flex;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: cover;
                background-size: cover;
                &:before {
                    float: left;
                    display: block;
                    content: '';
                    padding-top: 82%;
                }
            }
            .title {
                font-weight: 600;
                font-size: 24px;
                line-height: 31px;
                letter-spacing: 0.01em;
                color: $colorText;
                text-align: center;
            }
            .subtitle {
                margin-top: 2px;
            }
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                padding: 12px 21px 45px;
                .button {
                    margin-top: auto;
                }
                @include desktop-medium {
                    padding: 12px 21px 45px;
                }
            }
            .info {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin: 31px -8px 35px;
                .info-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: calc(33.3333333333% - 16px);
                    margin: 0 8px;
                    i {
                        font-size: 26px;
                        color: $colorMain;
                    }
                    span {
                        display: inline-block;
                        margin-top: 2px;
                        font-size: 16px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: $colorText;
                        white-space: nowrap;
                    }
                }
            }
        }

        @include desktop-medium {
            margin: 70px -12px 0;
            .item {
                width: calc(25% - 24px);
                margin: 0 12px 25px;
                .content {
                    padding: 12px 7px 45px;
                }
                .title {
                    font-size: 18px;
                    line-height: 23px;
                    text-align: center;
                }
                .subtitle {
                    font-size: 14px;
                    line-height: 22px;
                }
                .info {
                    margin: 15px -4px 25px;
                    .info-item {
                        width: calc(33.3333333333% - 8px);
                        margin: 0 4px;
                        span {
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        @include desktop-smaller {
            .item {
                .title {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                }
                .subtitle {
                    font-size: 12px;
                    line-height: 20px;
                }
                .info {
                    .info-item {
                        span {
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        @include mobile {
            flex-wrap: wrap;
            margin: 46px -12px 50px;
            .item {
                width: calc(50% - 24px);
                margin: 0 12px 28px;
            }
        }
        @include only-mobile {
            margin: 46px 0 25px;
            .item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                .content {
                    .button {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.section-photo {
    .section-photo__list {
        display: flex;
        flex-wrap: wrap;
        margin: 62px -1px 0;
        .item {
            width: calc(16.6666666666666666% - 2px);
            margin: 1px;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            background-size: cover;
            cursor: pointer;
            &:before {
                float: left;
                display: block;
                content: '';
                padding-top: 100%;
            }
        }
        @include mobile {
            margin-top: 45px;
            .item {
                width: calc(25% - 2px);
            }
        }
        @include only-mobile {
            margin-top: 30px;
            .item {
                width: calc(33.3333333333333333% - 2px);
            }
        }
    }
}

.section-news {
    .section-news__list {
        display: flex;
        flex-wrap: wrap;
        margin: 62px -16px 0;
        .item {
            width: calc(33.3333333333% - 32px);
            margin: 0 16px 32px;
            .text {
                margin: 9px 0 0;
                transition: 0.1s ease;
            }
            @include desktop {
                &:hover {
                    opacity: 1;
                    .text {
                        color: $colorMain;
                        text-decoration: underline;
                    }
                }
            }
        }
        @include desktop-small {
            margin: 42px -12px 0;
            .item {
                width: calc(33.3333333333% - 24px);
                margin: 0 12px 32px;
            }
        }

        @include mobile {
            margin: 42px -12px 0;
            .item {
                width: calc(50% - 24px);
                margin: 0 12px 32px;
            }
        }
        @include only-mobile {
            margin: 30px 0 0;
            .item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.news-modal {
    .news-container {
        max-width: 920px;
        margin: 0 auto;
    }
    .modal-content {
        height: auto;
        .close {
            position: sticky;
            top: 33px;
            margin-left: auto;
        }
        .news-container {
            margin-top: -40px;
        }
        @include mobile {
            margin-top: 33px !important;
            padding: 0 0 30px;
            .close {
                position: sticky;
                top: 33px;
                margin-left: auto;
                padding-top: 5px;
            }

        }
    }
}
.section-with-leaf {
    overflow: visible !important;
}
.parallax_leaf {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 99;
    @include mobile {
        display: none;
    }
    &.parallax_leaf-1 {
        max-width: 307px;
        top: -70px;
        left: -125px;
    }
    &.parallax_leaf-2 {
        max-width: 240px;
        right: -125px;
        bottom: -40px;
    }
    &.parallax_leaf-3 {
        max-width: 135px;
        left: -40px;
        bottom: -15px;
    }
    @include desktop-small {
        &.parallax_leaf-1 {
            max-width: 207px;
            top: -20px;
            left: -125px;
        }
        &.parallax_leaf-2 {
            max-width: 140px;
            right: -125px;
            bottom: -30px;
        }
        &.parallax_leaf-3 {
            max-width: 75px;
            left: -50px;
            bottom: -15px;
        }
    }
}
