$fontBase: 'TT Firs Neue', sans-serif;

$colorWhite: #fff;
$colorBlack: #000;
$colorText: #253539;

$colorGray: #757F82;
$colorGrayMiddle: #C8D0D2;
$colorGrayLight: #EFF3F8;

$colorMain: #95C122;
$colorMainActive: #55C122;



